{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <a href="{{ path('activitydomain_index') }}">
       {{ 'activitydomain.list.name'|trans }}
    </a>
{% endblock %}

{% block breadcrumbActive %}
    {{ 'activitydomain.new.name'|trans }}
{% endblock %}
{% block body %}
    {% include 'Template/SingleFormTemplate.html.twig' with {'form': form ,'form_name' : 'activitydomain.new.name'|trans ,'submit_name': 'activitydomain.new.submit'|trans } %}
{% endblock %}
