<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal row-border" novalidate="novalidate">
	<div class="panel-body">
		<div class="about-area">
			{{ form_widget(form) }}
		</div>
	</div>
    <div class="panel-footer">
	    <div class="pull-right">
	       <input type="submit" class="btn-primary btn" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
	    </div>
	</div>
</form>
