{% extends 'base.html.twig' %}
{% block breadcrumb %}
    <a href="{{ path('returnarticle_subStore_index', { 'id' : returnArticle.toSubStore.id}) }}">
       {{ 'returnarticle.list.name'|trans }}
    </a>
{% endblock %}
	 {% block breadcrumbActive %}{{ 'returnarticle.edit.name'|trans }}{% endblock %}
{% block body %}
    {% include 'Template/SingleFormTemplate.html.twig' with {'form': edit_form ,'form_name' : 'returnarticle.edit.name'|trans ,'submit_name': 'returnarticle.edit.submit'|trans } %}
{% endblock %}
